<app-layout></app-layout>
<div class="course-container">
  <h2>My Department's Courses</h2>

  <p-table [value]="courses" responsiveLayout="scroll" selectionMode="single" >
    <ng-template pTemplate="header">
      <tr>
        <th>Course Name</th>
        <th>Department</th>
        <th>Instructor</th>
        <th>Classroom</th>
      </tr>
    </ng-template>

    <ng-template #body let-course>
      <tr  class="denemeee">
        <td>{{ course.courseName}}</td>
        <td>{{ course.department.deptName}}</td>
        <td>{{course.instructor.firstName }} {{course.instructor.middleName }} {{course.instructor.lastName }} </td>
        <td>{{ course.classroom.classroomName}}</td>

      </tr>
    </ng-template>
  </p-table>
  <p-button label="Add Course" icon="pi pi-plus " class ="buttonadd-container" severity="contrast" (onClick)="onAddCourse()"/>

</div>
