.menu {
  list-style-type: none;
  padding: 0;
}
.menu li {
  padding: 10px;
  cursor: pointer;
}
.title {
  font-size: 1.5rem;
  margin-left: 10px;
}
.content {
  padding: 20px;
}
li {
  margin-bottom:5px;
}
.p-button {
  background-color: #000000 !important;
  color: #e9ecef !important;
  border: none;
  border-radius: 3rem !important;
  padding: 0.5rem !important;

}

