.student-list{
  width: 80%;
  margin:auto;
  text-align: center;
  margin-top: 70px;

}
h2{
  margin-bottom: 20px;
  margin-right: 150px;
}
//p-table {
//  width: 100%;
//  table-layout: fixed;
//}
//p-table th,p-table td {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//
.buttonadd-container{
  margin-left: 1141px;
}
.buttondelete-container{
  margin-left: 30px;
}
